:root {
    --navbar: rgb(130, 130, 130);
    --navbartext: #000000;
    --navbarselect: #57bc9b;
    --navbarselecttext: #000000;
    --highlight: #57bc9b;
    --highlightext: #000000;
    --highlightlink: #784141;
    --maincolor1: #d5d6d2;
    --maincolor1text: black;
    --maincolor1link: #7A0019;
    --maincolor2: #F9F7F6;
    --maincolor2text: black;
    --maincolor2link: #7A0019;
}
